.top-info, .bottom-info {
    display: flex;
}

.card-count {
    margin-left: auto;
}

.deck {
    border-color: gray;
    border: 1px solid ;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
  }

  button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(111, 111, 111);
    margin-left: 5px;
  }

  .delete {
    margin-left: auto;
    background-color: rgb(201, 6, 6);
  }

  .study {
    background-color: rgb(47, 108, 222);
  }

  .middle-info {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container {
    justify-content: center;
  }

  .deck {
    width: 200%;
  }
  
  .create {
    margin-left: -15px;
  }

  .list {
    display: flex;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;   
    padding-top: 15px;
    margin-bottom: 10px;
  }

 ul {
    padding-left: 10px;
 }

